@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using WebApplication1.Models
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, WebApplication1
    @model Page
    ViewData["Title"] = "Page Detail";
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/styles/normalize.css">
</head>
<body>
    <ul>
        <li>Title: @Model.Title</li>
        <li>Content: @Model.Content</li>
        <li>Author: @Model.UserId</li>
        <li>Date: <timestamp-to-date-time>@ViewData["Date"]</timestamp-to-date-time></li>
    </ul>
    <a href="/page"> < Page List </a>
</body>
</html>